# Node modules
node_modules/

# package lock files
package-lock.json

# Output directory from TypeScript
dist/

# Optional logs & runtime artifacts
*.log
*.tsbuildinfo

# Ignore compiled JS in source (if you ever compile without outDir)
**/*.js
**/*.js.map

# VSCode project settings
.vscode/

# Mac system files
.DS_Store

# Env files (if you later add Express, etc.)
.env
.env.local

# Ignore Some files in src/1-core-types
8-intersection-types.ts
9-literal-types.ts
10-type-inference.ts
11-type-assertions.ts
12-never-type.ts
13-typeof-keyof.ts